### Importación de datos

In [39]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"


#Aqui se puestra la visualización de las urls con los datos de cada tienda, el .read_csv(url)
#lo que hace el read_csv
'''
"Oye, pandas (pd), por favor, utiliza tu función especializada para leer archivos CSV (.read_csv())
y carga los datos que se encuentran en el archivo llamado 'nombre_del_archivo.csv' en un DataFrame."

'''
tienda1 = pd.read_csv(url1)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)


tienda4.head(30)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Lavavajillas,Electrodomésticos,1084800.0,56000.0,11/11/2022,Rafael Acosta,Bogotá,4,Tarjeta de crédito,3,4.60971,-74.08175
1,Cama box,Muebles,473800.0,25400.0,03/01/2020,Izabela de León,Cúcuta,5,Tarjeta de crédito,2,7.89391,-72.50782
2,Balón de baloncesto,Deportes y diversión,23700.0,0.0,25/12/2022,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359
3,Modelado predictivo,Libros,57700.0,1300.0,23/11/2021,Lucas Olivera,Medellín,3,Nequi,1,6.25184,-75.56359
4,Auriculares,Electrónicos,138900.0,5600.0,25/04/2022,Blanca Ramirez,Bogotá,4,Tarjeta de crédito,7,4.60971,-74.08175
5,Refrigerador,Electrodomésticos,1591900.0,83000.0,30/05/2020,Beatriz Morales,Cartagena,1,Tarjeta de crédito,10,10.39972,-75.51444
6,Guitarra eléctrica,Instrumentos musicales,626200.0,38000.0,11/07/2021,Izabela de León,Medellín,5,Tarjeta de crédito,1,6.25184,-75.56359
7,Auriculares con micrófono,Electrónicos,94500.0,11900.0,19/02/2022,Santiago Silva,Medellín,4,Tarjeta de crédito,2,6.25184,-75.56359
8,Iphone 15,Electrónicos,2339000.0,122700.0,15/10/2022,Camila Rivera,Bogotá,5,Tarjeta de crédito,3,4.60971,-74.08175
9,Mesa de noche,Muebles,273300.0,21900.0,18/11/2022,Rafael Acosta,Bogotá,1,Tarjeta de crédito,3,4.60971,-74.08175
10,Balón de baloncesto,Deportes y diversión,68000.0,6000.0,03/03/2022,Felipe Santos,Manizales,4,Nequi,1,5.06889,-75.51738
11,Muñeca bebé,Juguetes,47500.0,0.0,16/09/2020,Pedro Gomez,Bogotá,5,Tarjeta de crédito,2,4.60971,-74.08175
12,Dashboards con Power BI,Libros,36000.0,9800.0,21/11/2020,Blanca Ramirez,Bogotá,5,Tarjeta de crédito,3,4.60971,-74.08175
13,Silla de oficina,Muebles,382900.0,20800.0,23/01/2023,Blanca Ramirez,Bogotá,5,Cupón,1,4.60971,-74.08175
14,Kit de bancas,Muebles,271100.0,12600.0,27/02/2023,Beatriz Morales,Bogotá,1,Tarjeta de crédito,6,4.60971,-74.08175
15,Kit de bancas,Muebles,240300.0,13000.0,31/12/2021,Juan Fernandez,Leticia,5,Nequi,1,-4.21528,-69.94056
16,Impresora,Electrónicos,238300.0,10900.0,14/05/2020,Lucas Olivera,Bucaramanga,5,Tarjeta de crédito,4,7.12539,-73.11980
17,Set de vasos,Artículos para el hogar,23600.0,1500.0,29/12/2020,Mariana Herrera,Cali,1,Tarjeta de crédito,1,3.43722,-76.52250
18,Mesa de comedor,Muebles,319400.0,17200.0,21/07/2021,Juliana Costa,Riohacha,5,Nequi,1,11.54444,-72.90722
19,Carrito de control remoto,Juguetes,74600.0,4600.0,11/03/2020,Beatriz Morales,Cartagena,5,Tarjeta de crédito,4,10.39972,-75.51444
20,Cuerda para saltar,Deportes y diversión,25500.0,0.0,27/05/2021,Juan Fernandez,Bogotá,5,Nequi,1,4.60971,-74.08175
21,Estufa,Electrodomésticos,826700.0,42200.0,09/11/2020,Juan Fernandez,Cali,5,Tarjeta de crédito,4,3.43722,-76.52250
22,Cama king,Muebles,506200.0,25100.0,23/02/2022,Pedro Gomez,Pasto,5,Tarjeta de crédito,2,1.21361,-77.28111
23,Carrito de control remoto,Juguetes,60100.0,1400.0,12/07/2020,Felipe Santos,Bogotá,5,Tarjeta de crédito,1,4.60971,-74.08175
24,Cama box,Muebles,644700.0,40200.0,11/08/2022,Ángel Rodriguez,Bogotá,5,Tarjeta de crédito,4,4.60971,-74.08175
25,Kit de bancas,Muebles,244500.0,13400.0,29/04/2022,Ángel Rodriguez,Bogotá,5,Nequi,1,4.60971,-74.08175
26,Balón de voleibol,Deportes y diversión,46300.0,3100.0,17/07/2022,Beatriz Morales,Bogotá,1,Tarjeta de crédito,4,4.60971,-74.08175
27,Mesa de comedor,Muebles,228000.0,14500.0,06/11/2021,Lucas Olivera,Bogotá,1,Nequi,1,4.60971,-74.08175
28,Cama box,Muebles,744100.0,37800.0,31/03/2020,Pedro Gomez,Medellín,5,Tarjeta de crédito,1,6.25184,-75.56359
29,Secadora de ropa,Electrodomésticos,925900.0,47500.0,08/02/2022,Blanca Ramirez,Medellín,1,Tarjeta de crédito,3,6.25184,-75.56359

#1. Análisis de facturación

In [18]:
#Ingreso total por tienda
#con el read ya realizado, tenemos acceso a los elementos del archivo
#y tb a los data frame, que en este caso serían los productos, Categoria, etc.

#.astype(float)es un método de panda que convierte el tipo de dato contenido en Precio
# en número y ademas con decimales (float), de lo contrario sería en entero (int)

#.sum() suma los numeros contenidos en el df Precio

ingreso_total_tienda1 = tienda1['Precio'].astype(float).sum()
ingreso_total_tienda2 = tienda2['Precio'].astype(float).sum()
ingreso_total_tienda3 = tienda3['Precio'].astype(float).sum()
ingreso_total_tienda4 = tienda4['Precio'].astype(float).sum()



#Aqui con formato le pido que me separe en miles con una (,) y que tenga 2 decimales

print(f'El ingreso total de la tienda 1 es de ${ingreso_total_tienda1:,.2f}')
print(f'El ingreso total de la tienda 2 es de ${ingreso_total_tienda2:,.2f}')
print(f'El ingreso total de la tienda 3 es de ${ingreso_total_tienda3:,.2f}')
print(f'El ingreso total de la tienda 1 es de ${ingreso_total_tienda1:,.2f}')

print(f'\nEl ingreso total de las 4 tiendas es de ${ingreso_total_tienda1+ingreso_total_tienda2+ingreso_total_tienda3+ingreso_total_tienda4:,.2f}')

El ingreso total de la tienda 1 es de $1,150,880,400.00
El ingreso total de la tienda 2 es de $1,116,343,500.00
El ingreso total de la tienda 3 es de $1,098,019,600.00
El ingreso total de la tienda 1 es de $1,150,880,400.00

El ingreso total de las 4 tiendas es de $4,403,619,200.00

# 2. Ventas por categoría

In [20]:
'''
Calcular la cantidad de productos vendidos por categoría en cada tienda.
La idea es agrupar los datos por categoría y contar el número de ventas de cada
 tipo, mostrando las categorías más populares de cada tienda.
'''


#Creamos la función 'ventas_por_categorias' que tine 2 argumentos: tienda (url de la tienda
# en particular y el número que aparecerá en print

def ventas_por_categoria(tienda, numero):
#En la función tengo una variabla 'ventas' que toma el argumento tienda y lo agrupa
#según el df que eliga, en este caso, agrupa la categoria del producto
#con su precio y lo suma
    ventas = tienda.groupby('Categoría del Producto')[f'Precio'].sum().map('${:,.2f}'.format)
    print(f"\nVentas por categoría en Tienda {numero}:")
    print(ventas)

# Mostrar resultados para cada tienda
ventas_por_categoria(tienda1, 1)
ventas_por_categoria(tienda2, 2)
ventas_por_categoria(tienda3, 3)
ventas_por_categoria(tienda4, 4)

Ventas por categoría en Tienda 1:
Categoría del Producto
Artículos para el hogar     $12,698,400.00
Deportes y diversión        $39,290,000.00
Electrodomésticos          $363,685,200.00
Electrónicos               $429,493,500.00
Instrumentos musicales      $91,299,000.00
Juguetes                    $17,995,700.00
Libros                       $8,784,900.00
Muebles                    $187,633,700.00
Name: Precio, dtype: object

Ventas por categoría en Tienda 2:
Categoría del Producto
Artículos para el hogar     $14,746,900.00
Deportes y diversión        $34,744,500.00
Electrodomésticos          $348,567,800.00
Electrónicos               $410,831,100.00
Instrumentos musicales     $104,990,300.00
Juguetes                    $15,945,400.00
Libros                      $10,091,200.00
Muebles                    $176,426,300.00
Name: Precio, dtype: object

Ventas por categoría en Tienda 3:
Categoría del Producto
Artículos para el hogar     $15,060,000.00
Deportes y diversión        $35,593,100.00
Electrodomésticos          $329,237,900.00
Electrónicos               $410,775,800.00
Instrumentos musicales      $77,380,900.00
Juguetes                    $19,401,100.00
Libros                       $9,498,700.00
Muebles                    $201,072,100.00
Name: Precio, dtype: object

Ventas por categoría en Tienda 4:
Categoría del Producto
Artículos para el hogar     $15,074,500.00
Deportes y diversión        $33,350,100.00
Electrodomésticos          $283,260,200.00
Electrónicos               $409,476,100.00
Instrumentos musicales      $75,102,400.00
Juguetes                    $20,262,200.00
Libros                       $9,321,300.00
Muebles                    $192,528,900.00
Name: Precio, dtype: object

In [29]:
#las 3 categorias que mejore se venden en las tiendas

def top_3_ventas_por_categoria(tienda, numero):
    ventas_por_categoria = tienda.groupby('Categoría del Producto')['Precio'].sum()

    # Ordena las ventas de mayor a menor
    ventas_ordenadas = ventas_por_categoria.sort_values(ascending=False)

    # Toma las 3 categorías principales
    top_3_ventas = ventas_ordenadas.head(3)

    print(f"\nTop 3 Ventas por Categoría en Tienda {numero}:")
    for categoria, total_venta in top_3_ventas.items():
        print(f"{categoria}: ${total_venta:,.2f}")

# Mostrar el top 3 para cada tienda
# (Asegúrate de que tienda1, tienda2, tienda3, tienda4 estén definidos como DataFrames)
top_3_ventas_por_categoria(tienda1, 1)
top_3_ventas_por_categoria(tienda2, 2)
top_3_ventas_por_categoria(tienda3, 3)
top_3_ventas_por_categoria(tienda4, 4)

Top 3 Ventas por Categoría en Tienda 1:
Electrónicos: $429,493,500.00
Electrodomésticos: $363,685,200.00
Muebles: $187,633,700.00

Top 3 Ventas por Categoría en Tienda 2:
Electrónicos: $410,831,100.00
Electrodomésticos: $348,567,800.00
Muebles: $176,426,300.00

Top 3 Ventas por Categoría en Tienda 3:
Electrónicos: $410,775,800.00
Electrodomésticos: $329,237,900.00
Muebles: $201,072,100.00

Top 3 Ventas por Categoría en Tienda 4:
Electrónicos: $409,476,100.00
Electrodomésticos: $283,260,200.00
Muebles: $192,528,900.00

In [34]:
#los 3 mejores vendedores por tienda y sus ventas
def top_3_vendedores(tienda, numero):
    # Agrupa por vendedor y suma el total de sus ventas
    ventas_por_vendedor = tienda.groupby('Vendedor')['Precio'].sum()

    # Ordena los vendedores por sus ventas totales de mayor a menor
    vendedores_ordenados = ventas_por_vendedor.sort_values(ascending=False)

    # Toma los 3 mejores vendedores
    top_3_vendedores = vendedores_ordenados.head(3)

    print(f"\nTop 3 Vendedores en Tienda {numero}:")
    for vendedor, total_venta in top_3_vendedores.items():
        print(f"{vendedor}: ${total_venta:,.2f}")


top_3_vendedores(tienda1, 1)
top_3_vendedores(tienda2, 2)
top_3_vendedores(tienda3, 3)
top_3_vendedores(tienda4, 4)

Top 3 Vendedores en Tienda 1:
Maria Alfonso: $101,528,700.00
Rafael Acosta: $96,271,300.00
Izabela de León: $93,776,500.00

Top 3 Vendedores en Tienda 2:
Izabela de León: $91,812,200.00
Pedro Gomez: $90,140,400.00
Felipe Santos: $87,861,800.00

Top 3 Vendedores en Tienda 3:
Maria Alfonso: $96,328,500.00
Juliana Costa: $86,070,600.00
Camila Rivera: $82,385,700.00

Top 3 Vendedores en Tienda 4:
Felipe Santos: $95,432,000.00
Juan Fernandez: $86,497,500.00
Izabela de León: $82,612,700.00

## 3. Calificación promedio de la tienda

In [33]:
#conocer la satisfacción del cliente con los productos vendidos.

def clasificacion_promedio(tienda, numero):
    promedio = tienda['Calificación'].mean()
    print(f"Clasificación promedio en Tienda {numero}: {promedio:.2f}")

# Mostrar resultados para cada tienda
clasificacion_promedio(tienda1, 1)
clasificacion_promedio(tienda2, 2)
clasificacion_promedio(tienda3, 3)
clasificacion_promedio(tienda4, 4)

Clasificación promedio en Tienda 1: 3.98
Clasificación promedio en Tienda 2: 4.04
Clasificación promedio en Tienda 3: 4.05
Clasificación promedio en Tienda 4: 4.00

# 4. Productos más y menos vendidos

In [36]:
'''
qué productos fueron los más vendidos y los menos vendidos en cada tienda.
Visualiza los resultados para que quede claro qué productos destacaron en ventas
en cada tienda.
'''

# Leer todos los CSVs y agregar una columna 'Tienda'
df_total = pd.concat(
    [pd.read_csv(url).assign(Tienda=f"Tienda {i+1}") for i, url in enumerate(urls)],
    ignore_index=True
)

# Aseguramos los tipos correctos
df_total['Precio'] = df_total['Precio'].astype(float)
df_total['Cantidad de cuotas'] = df_total['Cantidad de cuotas'].astype(int)

# El ingreso es simplemente el Precio (no multiplicamos por cantidad de cuotas)
df_total['Ingreso'] = df_total['Precio']

# Agrupamos por Tienda y Producto sumando el ingreso
ventas = df_total.groupby(['Tienda', 'Producto'])['Ingreso'].sum().reset_index()

# Función para mostrar los 3 productos que más y menos dinero generaron
def top_productos(tienda):
    data = ventas[ventas['Tienda'] == tienda]

    top_mas_vendidos = data.sort_values(by='Ingreso', ascending=False).head(3)
    top_menos_vendidos = data.sort_values(by='Ingreso', ascending=True).head(3)

    print(f"\n{tienda} - TOP 3 productos que MÁS dinero generaron:")
    for _, fila in top_mas_vendidos.iterrows():
        print(f"  {fila['Producto']} - Ingresos: ${fila['Ingreso']:.2f}")

    print(f"\n{tienda} - TOP 3 productos que MENOS dinero generaron:")
    for _, fila in top_menos_vendidos.iterrows():
        print(f"  {fila['Producto']} - Ingresos: ${fila['Ingreso']:.2f}")

# Lista única de tiendas
tiendas_unicas = ventas['Tienda'].unique()

# Mostrar resultados para cada tienda
for tienda in tiendas_unicas:
    top_productos(tienda)

NameError: name 'url' is not defined

In [48]:
def analisis_productos_con_ingresos(tienda, numero, top_n=5, bottom_n=5):
    # Agrupa por nombre del producto y calcula la frecuencia y la suma del precio
    analisis_productos = tienda.groupby('Producto').agg(
        Cantidad_Vendida=('Producto', 'count'),
        Ingresos_Totales=('Precio', 'sum')
    )

    # Ordenar por cantidad vendida (para encontrar los más y menos vendidos en frecuencia)
    productos_mas_vendidos_cantidad = analisis_productos.sort_values(by='Cantidad_Vendida', ascending=False).head(top_n)
    productos_menos_vendidos_cantidad = analisis_productos.sort_values(by='Cantidad_Vendida', ascending=True).head(bottom_n)

    print(f"\nLos {top_n} productos más vendidos en la tienda {numero} son:\n")
    for producto, data in productos_mas_vendidos_cantidad.iterrows():
        print(f"- {producto}: {int(data['Cantidad_Vendida'])} ventas. Ingresos totales: ${data['Ingresos_Totales']:,.2f}")

    print(f"\nLos {bottom_n} productos menos vendidos en la tienda {numero} son:\n")
    for producto, data in productos_menos_vendidos_cantidad.iterrows():
        print(f"- {producto}: {int(data['Cantidad_Vendida'])} ventas, Ingresos Totales: ${data['Ingresos_Totales']:,.2f}")

# Mostrar el análisis para cada tienda

analisis_productos_con_ingresos(tienda1, 1)
print('______________________________________________________________________')
analisis_productos_con_ingresos(tienda2, 2)
print('______________________________________________________________________')
analisis_productos_con_ingresos(tienda3, 3)
print('______________________________________________________________________')
analisis_productos_con_ingresos(tienda4, 4)

Los 5 productos más vendidos en la tienda 1 son:

- Armario: 60 ventas. Ingresos totales: $29,462,300.00
- TV LED UHD 4K: 60 ventas. Ingresos totales: $142,150,200.00
- Microondas: 60 ventas. Ingresos totales: $34,761,500.00
- Secadora de ropa: 58 ventas. Ingresos totales: $59,062,400.00
- Mesa de noche: 56 ventas. Ingresos totales: $15,679,600.00

Los 5 productos menos vendidos en la tienda 1 son:

- Auriculares con micrófono: 33 ventas, Ingresos Totales: $4,730,800.00
- Celular ABXY: 33 ventas, Ingresos Totales: $32,651,000.00
- Olla de presión: 35 ventas, Ingresos Totales: $2,629,300.00
- Pandereta: 36 ventas, Ingresos Totales: $2,238,900.00
- Ciencia de datos con Python: 39 ventas, Ingresos Totales: $2,063,600.00
______________________________________________________________________

Los 5 productos más vendidos en la tienda 2 son:

- Iniciando en programación: 65 ventas. Ingresos totales: $3,127,800.00
- Microondas: 62 ventas. Ingresos totales: $36,192,000.00
- Batería: 61 ventas. Ingresos totales: $46,175,300.00
- Pandereta: 58 ventas. Ingresos totales: $3,725,100.00
- Guitarra acústica: 58 ventas. Ingresos totales: $18,648,400.00

Los 5 productos menos vendidos en la tienda 2 son:

- Juego de mesa: 32 ventas, Ingresos Totales: $5,811,900.00
- Impresora: 34 ventas, Ingresos Totales: $10,385,300.00
- Mesa de comedor: 34 ventas, Ingresos Totales: $8,637,500.00
- Sillón: 35 ventas, Ingresos Totales: $8,413,500.00
- Auriculares: 37 ventas, Ingresos Totales: $3,569,600.00
______________________________________________________________________

Los 5 productos más vendidos en la tienda 3 son:

- Kit de bancas: 57 ventas. Ingresos totales: $16,699,800.00
- Mesa de comedor: 56 ventas. Ingresos totales: $14,326,100.00
- Cama king: 56 ventas. Ingresos totales: $38,834,700.00
- Set de ollas: 55 ventas. Ingresos totales: $8,696,500.00
- Mesa de noche: 55 ventas. Ingresos totales: $15,365,500.00

Los 5 productos menos vendidos en la tienda 3 son:

- Bloques de construcción: 35 ventas, Ingresos Totales: $1,237,200.00
- Set de vasos: 36 ventas, Ingresos Totales: $1,210,700.00
- Mochila: 36 ventas, Ingresos Totales: $3,547,000.00
- Microondas: 36 ventas, Ingresos Totales: $19,153,600.00
- Vaso térmico: 38 ventas, Ingresos Totales: $1,725,600.00
______________________________________________________________________

Los 5 productos más vendidos en la tienda 4 son:

- Cama box: 62 ventas. Ingresos totales: $32,946,300.00
- Cubertería: 59 ventas. Ingresos totales: $2,649,300.00
- Cama king: 56 ventas. Ingresos totales: $37,555,400.00
- Dashboards con Power BI: 56 ventas. Ingresos totales: $1,990,600.00
- Carrito de control remoto: 55 ventas. Ingresos totales: $4,014,200.00

Los 5 productos menos vendidos en la tienda 4 son:

- Guitarra eléctrica: 33 ventas, Ingresos Totales: $25,823,100.00
- Armario: 34 ventas, Ingresos Totales: $16,421,400.00
- Guitarra acústica: 37 ventas, Ingresos Totales: $11,257,100.00
- Ciencia de datos con Python: 38 ventas, Ingresos Totales: $2,108,800.00
- Lavadora de ropa: 38 ventas, Ingresos Totales: $52,463,600.00

# 5. Envío promedio por tienda

In [53]:
#costo de envío promedio para cada tienda. El objetivo es comprender cuánto se
#gasta, en promedio, en el envío de cada tienda.

def promedio_costo_envio_por_tienda(tienda, numero):
    # Calcula el promedio de la columna 'Costo de envío'
    promedio_envio = tienda['Costo de envío'].mean()
    print(f"El promedio del costo de envío en la Tienda {numero} es: ${promedio_envio:,.2f}")

# Calcular el promedio para cada tienda

promedio_costo_envio_por_tienda(tienda1, 1)
promedio_costo_envio_por_tienda(tienda2, 2)
promedio_costo_envio_por_tienda(tienda3, 3)
promedio_costo_envio_por_tienda(tienda4, 4)

El promedio del costo de envío en la Tienda 1 es: $26,018.61
El promedio del costo de envío en la Tienda 2 es: $25,216.24
El promedio del costo de envío en la Tienda 3 es: $24,805.68
El promedio del costo de envío en la Tienda 4 es: $23,459.46

- Recomendaciones en base al análisis. Si hay que cerrar alguna tienda, la que tiene menos ventas es la tienda 4. Sin embargo, los mejores vendedores de la tienda 4 están al nivel de ventas de las otras tiendas, por tanto, consideraría incorporarlos en las tiendas que no se venderan.
Asi mismo, las calificaciones de la tienda con mayores ventas, es menor al resto de las tiendas. Una de las razones de esas menores calificaciones puede ser la alta afluencia de público y que los vendedores tengan algun tipo de estres. Con lo cual, recomendaría incorporar nuevos trabajadores o realizar algun tipo de coaching motivacional a los trabajadores para mejorar el bienestar lavoral